{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
      ignoreAtRules: ['extend']
    }],
    "no-empty-source": null,
    "selector-pseudo-element-no-unknown": [ true, {
      ignorePseudoElements: ['ng-deep']
    }],
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "string-quotes": "single"
  }
}
