{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": [ true, {
        "ignoreAtRules": [ "extend" ]
      }
    ],
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "no-empty-source": null,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-no-unknown": [ true, {
        "ignorePseudoElements": [ "ng-deep" ]
      }
    ],
    "string-quotes": "single",
    "value-no-vendor-prefix": true
  }
}
