@import '../../styles';

/* TODO
  - Blur behind taskbar opacity
  - Convert buttons and clock into components
*/

%taskbar-element-attributes {
  cursor: pointer;
  display: table-cell;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

%taskbar-button-icon-attributes {
  .icon {
    height: 20px;
    width: 20px;
    padding: 5px 8px 5px 8px;
    fill: $foreground-color;
  }
}

.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: $background-color;
  opacity: 0.875;
  z-index: 10001;

  /* Buttons */
  .buttons {
    display: inline-block;

    .button {
      @extend %taskbar-element-attributes;
    }

    /* Start */
    #start {
      @extend %taskbar-button-icon-attributes;

      &:hover .icon {
        fill: $highlight-color;
      }

      .icon {
        height: 19px;
        width: 19px;
      }
    }

    /* Task View */
    #task-view {
      @extend %taskbar-button-icon-attributes;

      &:hover .icon {
        transform: scale(1.1,1);
      }
    }
  }

  /* Tray */
  .tray {
    float: right;

    /* Clock */
    .clock {
      @extend %taskbar-element-attributes;

      width: 90px;

      #time {
        display: block;
        text-align: center;
        margin: 7px 4px 11px 4px;
        font-size: $font-size;
        color: $foreground-color;
      }
    }
  }
}
