@import '../../../../theme';
@import '../taskbar.element';

#clock {
  @extend %taskbar-element-attributes;

  #time {
    display: block;
    text-align: center;
    margin: 9px 7px 9px 7px;

    color: $primary-color;
    font-size: $font-size;
  }
}
