/* TODO
  - Arrange icons into groups like I do on my PC
  - Icons:
    - Blog
    - Pictures (Travel, Family, etc)
    - Videos (*)
    - Documents (Resume)
  - Right click menu
*/

.desktop {
  position: absolute;
  top: 0;
  left: 0;
}
