<div
  class="window"

  [class.selected]="selected"

  [style.top]="top + 'px'"
  [style.left]="left + 'px'"
  [style.width]="width + 'px'"
  [style.height]="height + 'px'"

  ngDraggable
  [handle]="titleBar"
  [bounds]="body"
  [inBounds]="true"

  ngResizable
  [rzHandles]="'n,e,s,w,se,sw,ne,nw'"

  (mousedown)="onMouseDown()"
>
  <div
    #titleBar
    class="title-bar"
  >
    <app-svg-icon
      class="icon"
      [name]="icon"
    ></app-svg-icon>
    <div class="title">{{ title }}</div>
    <div class="buttons">
      <app-svg-icon
        class="button minimize"
        name="minimize"
      ></app-svg-icon>
      <app-svg-icon
        class="button maximize"
        name="maximize"
      ></app-svg-icon>
      <app-svg-icon
        class="button close"
        name="close"

        (click)="close()"
      ></app-svg-icon>
    </div>
  </div>
  <div
    class="component"

    [style.height]="heightWithTitleBar"
  >{{ component }}</div>
</div>
