<div
  class="window"
  style.top="{{ top }}px"
  style.left="{{ left }}px"
  style.width="{{ width }}px"
  style.height="{{ height }}px"
  ngDraggable
  [handle]="titleBar"
  ngResizable
  [rzHandles]="'n,e,s,w,se,sw,ne,nw'"
>

  <div
    class="title-bar"
    #titleBar
  >
    <img class="image" src="{{ image }}"/>
    <div class="text">{{ text }}</div>
    <div class="buttons">
      <span class="button minimize"></span>
      <span class="button maximize"></span>
      <span class="button close" (click)="close()"></span>
    </div>
  </div>
  <div
    class="content"
    style.height="{{ height - titleBarHeight }}px"
  >{{ content }}</div>

</div>
