@import 'theme';

.window {
  position: absolute;
  background-color: $window-background-color;
  outline: 1px solid $window-outline-color;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  min-width: 157px;
  min-height: 100px;
  transform: scale(0);
  opacity: 1;
  transition: opacity 0.25s ease; // transform 0.5s linear

  &.minimized {
    pointer-events: none;
    transform: scale(0.5) translate(-500px, 1500px) !important; // translate should be toward the taskbar entry
    opacity: 0;
    transition:
      transform 0.5s ease,
      opacity 0.25s ease;
  }

  .title-bar {
    background-color: rgb(255, 255, 255);
    height: 30px;
    color: $window-title-bar-unselected-text-color;

    .icon ::ng-deep svg {
      float: left;
      height: 16px;
      width: 16px;
      margin: 6px 5px 8px 8px;
    }

    .title {
      float: left;
      font-size: 12px;
      margin-top: 6px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .buttons {
      position: absolute;
      right: 0;

      .button ::ng-deep svg {
        position: relative;
        padding: 9px 14px 10px 14px;
        border-bottom: 1px solid rgb(255, 255, 255);
        height: 10px;
        width: 10px;
        transition: 0.2s;

        &:hover {
          background-color: $window-title-bar-button-hover-color;
        }
      }

      .button.minimize ::ng-deep svg {
        padding: 10px 14px 9px 14px;
      }

      .button.close ::ng-deep svg {
        &:hover {
          background-color: $window-title-bar-close-hover-color;
          fill: $window-title-bar-close-fill-text-color;
        }
      }
    }
  }

  &.selected {
    .title-bar {
      color: $window-title-bar-selected-text-color;
    }
  }

  .component {
    height: 100%;
    width: 100%;
  }

  .ng-resizable-diagonal {
    border: 0;
  }

  .ng-resizable-nw {
    left: -5px;
    top: -5px;
  }

  .ng-resizable-ne {
    right: -5px;
    top: -5px;
  }

  .ng-resizable-sw {
    left: -5px;
    bottom: -5px;
  }

  .ng-resizable-se {
    right: -5px;
    bottom: -5px;
  }
}
