@import '../../../../theme';

.icon {
  cursor: default;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  display: block;
  padding: 2px 13px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 28px;
  margin-left: 1px;

  &:first-child {
    margin-top: 6px;
  }

  &:hover {
    background-color: $desktop-icon-element-hover-color;
    border: 1px solid $desktop-icon-element-hover-border-color;
    outline: 1px solid $desktop-icon-element-hover-color;
  }

  .image {
    height: 44px;
    width: 44px;
  }

  .text {
    display: block;
    text-align: center;
    color: $desktop-icon-text-color;
    font-size: $font-size;
    padding-top: 4px;
    text-shadow: 1px 2px 4px rgb(0, 0, 0), 1px 2px 4px rgb(0, 0, 0);
  }
}
