@import 'theme';
@import '../taskbar.element';

.taskbar-icon {
  @extend %taskbar-element-attributes;

  .icon ::ng-deep svg {
    height: 16px;
    width: 16px;
    padding: 7px 10px;
    fill: $taskbar-icon-image-color;
  }
}

.hover {
  &:hover .icon ::ng-deep svg {
    fill: $taskbar-icon-image-hover-color;
  }
}
