@import '../../../../theme';
@import '../taskbar.element';

.taskbar-icon {
  @extend %taskbar-element-attributes;

  cursor: default;

  .icon {
    height: 16px;
    width: 16px;
    margin: 7px 10px;
    fill: $taskbar-icon-image-color;
  }
}

.hover {
  &:hover .icon {
    fill: $taskbar-icon-image-hover-color;
  }
}

.stretch {
  &:hover .icon {
    transform: scale(1.4,1);
  }
}
