<div id="windows">
  <app-window
    *ngFor="let window of windows | async"
      [top]="
        window.position && window.position.top
          ? window.position.top
          : default.position.top
        "
      [left]="
        window.position && window.position.left
        ? window.position.left
        : default.position.left
      "

      [width]="
        window.dimensions && window.dimensions.width
        ? window.dimensions.width
        : default.dimensions.width
      "
      [height]="
        window.dimensions && window.dimensions.height
        ? window.dimensions.height
        : default.dimensions.height
      "

      [id]="window.id"
      [icon]="window.icon"
      [title]="window.title"
      [selected]="window.selected.window"

      [component]="window.component"
  ></app-window>
</div>
