<div id="windows">
  <app-window
    *ngFor="let window of windows"
      top="{{
        window.position && window.position.top
          ? window.position.top
          : defaults.position.top
        }}"
      left="{{
        window.position && window.position.left
        ? window.position.left
        : defaults.position.left
      }}"

      width="{{
        window.dimensions && window.dimensions.width
        ? window.dimensions.width
        : defaults.dimensions.width
      }}"
      height="{{
        window.dimensions && window.dimensions.height
        ? window.dimensions.height
        : defaults.dimensions.height
      }}"

      icon="{{ window.icon }}"
      title="{{ window.title }}"

      component="{{ window.component }}"
  ></app-window>
</div>
