<div id="windows">
  <app-window
    *ngFor="let window of apps | async"
      [top]="
        window.position && window.position.top
          ? window.position.top
          : default.position.top
        "
      [left]="
        window.position && window.position.left
        ? window.position.left
        : default.position.left
      "

      [width]="
        window.dimensions && window.dimensions.width
        ? window.dimensions.width
        : default.dimensions.width
      "
      [height]="
        window.dimensions && window.dimensions.height
        ? window.dimensions.height
        : default.dimensions.height
      "

      [selected]="window.selected.window"
      [foreground]="window.selected.foreground"

      [id]="window.id"
      [icon]="window.icon"
      [title]="window.title"

      [component]="window.component"
  ></app-window>
</div>
