@import 'theme';

body,
html {
  height: 100%;
  width: 100%;
}

body {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background: linear-gradient(-45deg, rgb(0, 0, 0), $background-color, rgb(0, 0, 0));
  background-size: 500% 500%;
  animation: Gradient 15s ease infinite;

  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}
