$font-size: 12px;

$background-color: rgb(58, 110, 165);

$desktop-icon-text-color: rgb(255, 255, 255);
$desktop-icon-selected-color: rgba(255, 255, 255, 0.2);
$desktop-icon-hover-color: rgba(255, 255, 255, 0.075);
$desktop-icon-hover-border-color: rgba(255, 255, 255, 0.35);

$taskbar-color: rgba(8, 8, 8, 0.825);
$taskbar-element-hover-color: rgba(255, 255, 255, 0.1);
$taskbar-icon-image-color: rgb(255, 255, 255);
$taskbar-icon-image-hover-color: rgb(66, 156, 227);

$clock-text-color: rgb(255, 255, 255);

$window-background-color: rgb(240, 240, 240);
$window-outline-color: rgba(0, 0, 0, 0.4);
$window-title-bar-button-hover-color: rgb(229, 229, 229);
$window-title-bar-close-hover-color: rgb(232, 17, 35);
$window-title-bar-close-hover-text-color: rgb(255, 255, 255);
