$background-color: rgb(58, 110, 165);

$desktop-icon-text-color: rgb(255, 255, 255);
$desktop-icon-hover-color: rgba(255, 255, 255, 0.1);
$desktop-icon-selected-color: rgba(255, 255, 255, 0.2);
$desktop-icon-selected-hover-color: rgba(255, 255, 255, 0.15);
$desktop-icon-hover-border-color: rgba(255, 255, 255, 0.35);

$taskbar-color: rgba(8, 8, 8, 0.875);
$taskbar-element-hover-color: rgba(255, 255, 255, 0.1);
$taskbar-icon-image-color: rgb(255, 255, 255);
$taskbar-icon-image-hover-color: rgb(66, 156, 227);
$taskbar-entry-title-text-color: rgba(255, 255, 255, 0.8);
$taskbar-entry-highlight-color: rgb(118, 185, 237);
$taskbar-entry-selected-color: rgba(255, 255, 255, 0.2);
$taskbar-entry-selected-hover-color: rgba(255, 255, 255, 0.25);

$clock-text-color: rgb(255, 255, 255);

$window-background-color: rgb(240, 240, 240);
$window-outline-color: rgba(0, 0, 0, 0.4);
$window-title-bar-button-hover-color: rgb(229, 229, 229);
$window-title-bar-close-hover-color: rgb(232, 17, 35);
$window-title-bar-close-fill-text-color: rgb(255, 255, 255);
$window-title-bar-selected-text-color: rgb(0, 0, 0);
$window-title-bar-unselected-text-color: rgb(153, 153, 153);
