@import '../../../../theme';

$desktop-icon-border-width: 1px;
$desktop-icon-outline-width: 1px;

%desktop-icon-border {
  border: $desktop-icon-border-width solid $desktop-icon-hover-border-color !important;
  outline: $desktop-icon-outline-width solid $desktop-icon-hover-color !important;
}

$desktop-icon-text-shadow:
  0 0 1px #000,
  0 0 1px #000,
  0 0 1px #000,
  1px 1px 1px #000,
  1px 1px 1px #000,
  1px 2px 1px #000,
  1px 2px 1px #000,
  -1px 0 1px #000;

.desktop-icon {
  cursor: default;
  border: $desktop-icon-border-width solid transparent;
  outline: $desktop-icon-outline-width solid transparent;
  display: block;
  padding: 2px 0;
  text-align: center;
  text-decoration: none;
  margin-bottom: 25px;
  margin-left: $desktop-icon-outline-width;

  &:first-child {
    margin-top: 5px + $desktop-icon-outline-width;
  }

  &:hover {
    @extend %desktop-icon-border;

    background-color: $desktop-icon-hover-color;
  }

  .icon /deep/ svg {
    height: 44px;
    width: 44px;
  }

  .title {
    display: block;
    text-align: center;
    overflow-wrap: break-word;
    color: $desktop-icon-text-color;
    font-size: 12px;
    text-shadow: $desktop-icon-text-shadow;
  }
}

.selected {
  @extend %desktop-icon-border;

  background-color: $desktop-icon-selected-color;

  &:hover {
    background-color: $desktop-icon-selected-hover-color;
  }
}
