@font-face {
  font-family: 'Segoe UI';
  src: url('/assets/font/Segoe UI.woff') format('woff');
}

$font: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 0.75em;

$foreground-color: #FFFFFF;
$background-color: #080808;
$highlight-color: #429CE3;

body, html {
  height: 100%;
}

body {
  background: #000000;

  margin: 0;
  padding: 0;
  overflow: hidden;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  font-family: $font;
}
