$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 0.75em;

$primary-color: #FFFFFF;
$secondary-color: #080808;
$background-color: #336EA5;
$highlight-color: #429CE3;

body, html {
  height: 100%;
}

body {
  background: $background-color;

  margin: 0;
  padding: 0;
  overflow: hidden;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  font-family: $font;

  a {
    cursor: default;
  }
}
