$primary-color: #FFFFFF;
$background-color: #336EA5;


$taskbar-color: rgba(8, 8, 8, 0.825);
$taskbar-element-hover-color: rgba(255, 255, 255, 0.1);
$taskbar-image-color: rgb(255, 255, 255);
$taskbar-image-hover-color: rgb(66, 156, 227);

$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 11.5px;
