@import '../../../styles';

.button {
  border: 1px solid transparent; /* TODO: em */
  cursor: default;
  display: block;
  outline: 1px solid transparent;
  padding: 3px 12px 3px 12px; /* TODO: em */
  text-align: center;
  text-decoration: none;
  margin-bottom: 28px; /* TODO: em */

  &:first-child {
    margin-top: 5px; /* TODO: em */
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
  }

  .icon {
    height: 48px; /* TODO: em */
    width: 48px; /* TODO: em */
  }

  .text {
    display: block;
    text-align: center;
    color: $foreground-color;
    font-size: $font-size;
    text-shadow: 1px 2px 3px #000000; /* TODO: em */
  }
}
